<!DOCTYPE html>
<html lang="fr">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/fragment-head :: head}">
</head>

<body>
<form action="/" th:fragment="advanced-search">
    <div class="col-md-8 offset-md-3 mb-5 mt-5">
        <div class="row">
            <div class="col-2 ">
                <select class="custom-select custom-select-sm" name="Pays">
                    <option th:selected="selected" disabled value="">Pays</option>
                    <option th:each="country : ${countries}" th:value="${country.getId()}" th:text="${country.getCountryName()}"></option>
                </select>
            </div>
            <div class="col-3 ">
                <select class="custom-select custom-select-sm" name="department" >
                    <option th:selected="${null==selectedDepartment}" value="">Département</option>
                    <option th:selected="${department.getId()==selectedDepartment}" th:each="department : ${departments}" th:value="${department.getId()}" th:text="${department.getDepartmentName()}"></option>
                </select>
            </div>
            <div class="col-2">
                <select class="custom-select custom-select-sm " name="type" >
                    <option th:selected="selected" disabled value="">Type</option>
                    <option th:each="type : ${T(com.oc.climbingtoo.enumeration.SiteType).values()}"
                            th:value="${type}"
                            th:text="${type}"></option>
                </select>
            </div>
            <div class="col-2 ">
                <select class="custom-select custom-select-sm " name="site" >
                    <option th:selected="selected" disabled value="">Site</option>
                    <option ></option>
                </select>
            </div>

            <div class="col-3">
                <button class="btn btn-dark " type="submit" method="get" th:action="@{/search}" >Recherche avancée</button>
            </div>
        </div>

    </div>
</form>

</body>
</html>