<!DOCTYPE html>
<html lang="fr">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: head}">
</head>


<body>
<div class="container ">
    <h1 class="col-md-7 offset-md-3 mt-3 mb-5">Formulaire de création de sites</h1>

    <form action="#" method="post" th:action="@{/createsiteform}" th:object="${siteDTO}" enctype="multipart/form-data">
        <div class="alert alert-danger  col-md-7 offset-md-3 mt-3" role="alert" th:if="${error}" th:text="${error}"></div>
        <div class="form-group">
            <div class="row ">
                <div class="form-group col-md-5 offset-md-4 mt-4 mb-5">
                    <label for="exampleFormControlFile1"></label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
                </div>
            </div>
            <div class="row ">
                <select class="custom-select custom-select-sm col-md-3 offset-md-4 mb-5" name="type" >
                    <option th:selected="selected" disabled value="">Type</option>
                    <option th:each="type : ${T(com.oc.climbingtoo.enumeration.SiteType).values()}"
                            th:value="${type}"
                            th:text="${type}"></option>
                </select>
            </div>
            <div class="row">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlInput1" >Titre du site</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                           placeholder="la ville du site" th:field="*{siteName}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlInput1" >Hauteur</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2"
                           placeholder="la hauteur du site" >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlInput1" >Orientation du site</label>
                    <input type="text" class="form-control" id="exampleFormControlInput3"
                           placeholder="ex : sud-ouest" >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlInput1" >Nombre de voies</label>
                    <input type="text" class="form-control" id="exampleFormControlInput4"
                           placeholder="ex : 400 voies" >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlInput1" >Côtations</label>
                    <input type="text" class="form-control" id="exampleFormControlInput5"
                           placeholder="ex : de 4b à 8b - 6b ">
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlTextarea1" >Description du site</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" th:field="*{description}" rows="10"></textarea>
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlTextarea1" >Rocher & Escalade</label>
                    <textarea class="form-control" id="exampleFormControlTextarea2" th:field="*{description}" rows="10"></textarea>
                </div>
            </div>

            <div class="row ">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlTextarea1" >Accès et Approche</label>
                    <textarea class="form-control" id="exampleFormControlTextarea3" th:field="*{description}" rows="10"></textarea>
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-md-7 offset-md-3 mb-5">
                    <label for="exampleFormControlTextarea1" >Hébergement & Ravitaillement</label>
                    <textarea class="form-control" id="exampleFormControlTextarea4" th:field="*{description}" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-auto col-md-3 offset-md-6">
                    <button type="submit" class="btn btn-dark mb-2">Submit</button>
                </div>
            </div>

        </div>
    </form>
</div>
</body>
</html>

