<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Climbing Too</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
</head>
<body>
<h1 class="d-flex justify-content-center m-3">Formulaire de création de topos</h1>

<form  action="">
<div class="input-group d-flex justify-content-center m-5 ">
   <div class="row">
    <div class="custom-file m-5">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile"></label>
    </div>

    <select class="custom-select custom-select-sm m-5">
        <option selected>Liste des topos</option>
        <option value="1">Topo sur les falaises</option>
        <option value="2">Topo sur les blocs</option>
    </select>

</div>
</div>
</form>
</body>
</html>