<!DOCTYPE html>
<html lang="fr">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br">

<head th:fragment="head">
        <meta charset="UTF-8">
        <title>Climbing Too</title>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<!-- SOMMAIRE

    1. Menu de navigation
    2. Page d'accueil , liste des Sites
    3. Page d'une présentation d'un site
    4. Formulaire pour laisser un commentaire
    5. Visualisation d'un commentaire
    6. Liste des topos
    7. Advanced-search
 -->



<!-- 1. Menu de navigation -->


<div th:fragment="menu-navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Climbing-too</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Les sites d'escalade <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Topos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Les sites d'escalade
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Les secteurs</a>
                        <a class="dropdown-item" href="#">Les voies</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Espace prêt topo</a>
                </li>
            </ul>
        </div>

    </nav>
</div>



<!-- 2. Page d'accueil , liste des Sites -->

<div th:fragment="site-list">


<div class="container">
    <div class="d-flex flex-wrap  text-center">
        <div class="col-sm-4 mb-4" th:each="site : ${sites}">
            <div class="card">
                <img class="card-img-top" th:src="${'files/'+site.getPicture()}" th:if="${site.getPicture() != null}" alt="Card image cap">
                <img class="card-img-top" src="/images/falaise-escalade.jpg" th:if="${site.getPicture() == null}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${site.getSiteName()}"></h5>
                    <p th:text="${site.getType()}"></p>
                    <p class="card-text" th:text="${site.getDescription()}"></p>
                    <a th:href="@{/sitepage/{id}(id=${site.getId()})}" class="btn btn-dark" >En savoir plus</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<!-- 3. Page d'une présentation d'un site -->


<div th:fragment="site-page">

    <div class="row">
        <p class="h1 col-md-6 offset-md-5 mt-3 mb-3" th:text="${site.getSiteName()}"></p>
    </div>

    <img th:src="${'/files/'+site.getPicture()}" th:if="${site.getPicture() != null}" class="img-fluid col-md-5 offset-md-3 mt-3 mb-5" alt="Responsive image">
    <img src="/images/falaise-escalade.jpg" th:if="${site.getPicture() == null}" class="img-fluid col-md-5 offset-md-3 mt-3 mb-5" alt="Responsive image">

    <table class="table ">
        <thead>

        <tr>
            <th scope="row"></th>
            <th>Type </th>
            <th>Hauteur </th>
            <th>Orientation </th>
            <th>Nombre de voies </th>
            <th>Cotations </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td th:text="${site.getType()}"></td>
            <td>80 m</td>
            <td>Sud-est</td>
            <td>400 voies</td>
            <td>De 4b à 8b - 6b</td>
        </tr>
        </tbody>
    </table>

    <div class="col-md-10 offset-md-1 mt-5 mb-5">
        <div>
            <h2 th:text="${site.getSiteName()}"></h2>
            <p th:text="${site.getDescription()}">
            </p>
        </div>

        <div>
            <h2>Rocher & Escalade</h2>
            <p th:text="${site.getRockClimbing()}"></p>
        </div>

        <div>
            <h2>Accès & Approche</h2>
            <p th:text="${site.getAccessApproach()}"></p>
        </div>

    </div>

    <div class="media">
        <img class="align-self-start  col-md-1 offset-md-1 mt-3 mb-5" src="/images/falaise-escalade.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-4">Topos</h5>
            <p>40 Falaises - Escalade choisie aux environs du lac d’Annecy - R. Durieux, 2007.</p>
        </div>
    </div>

    <div class="col-md-10 offset-md-1 mt-5 mb-5">
        <h2>Hébergement & Ravitaillement </h2>
        <p th:text="${site.getHostingRefueling()}"></p>

    </div>
</div>


<!-- 4. Formulaire pour laisser un commentaire -->

<div class="container" th:fragment="comments">
    <form action="#" method="post" th:action="@{/sitepage/} + ${site.getId()} +@{/comments}" th:object="${commentDTO}">
        <h4 class="m-5">Laissez un commentaire</h4>
        <div class="row">
            <div class="col-md-1">
                <img src="/images/user1.png" class="img-fluid" alt="...">
            </div>
            <div class="form-group col-md-9 ">
                <textarea class="form-control" placeholder="Ajoutez un commentaire" th:field="*{message}"></textarea>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-dark col-md-1 offset-md-8 mb-5 mt-3">Envoyer</button>
        </div>

    </form>
</div>


<!-- 5. Visualisation d'un commentaire -->

<div class="container" th:fragment="comments-seen">
    <div class="row mb-3" th:each="comment : ${comments}">
    <div class="col-md-1">
        <img src="/images/user1.png" class="img-fluid" alt="...">
    </div>
    <div class="col-md-9 m-3 d-inline-block bg-light rounded restrict-line">
    <p nl2br:text="${comment.getMessage()}">
    </div>
    </div>

</div>


<!-- 6. Liste des topos -->

<div th:fragment="topo-list">


    <ul class="list-unstyled mt-5">
        <li class="media">
            <img class="col-md-1 offset-md-1 mb-5 ml-3" src="/images/falaise-escalade.jpg" alt="Generic placeholder image">
            <div class="media-body ml-4">
                <h5 class="mb-1">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <br>
                <span class="badge badge-danger">Réservé</span>
            </div>
        </li>
        <li class="media my-4">
            <img class="col-md-1 offset-md-1 mb-5 ml-3" src="/images/falaise-escalade.jpg" alt="Generic placeholder image">
            <div class="media-body ml-4">
                <h5 class="mb-1 ml-4">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
        <li class="media">
            <img class="col-md-1 offset-md-1 mb-5 ml-3" src="/images/falaise-escalade.jpg" alt="Generic placeholder image">
            <div class="media-body ml-4">
                <h5 class="mb-1 ml-4">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </li>
    </ul>

</div>


<!-- 7. Advanced-search -->


<form action="#" th:fragment="advanced-search">
    <div class="col-md-8 offset-md-3 mb-5 mt-5">
        <div class="row">
            <div class="col-2 ">
                <select class="custom-select custom-select-sm " name="Pays" >
                    <option th:selected="selected" disabled value="">Pays</option>
                    <option ></option>
                </select>
            </div>
            <div class="col-3 ">
                <select class="custom-select custom-select-sm" name="département" >
                    <option th:selected="selected" disabled value="">Département</option>
                    <option ></option>
                </select>
            </div>
            <div class="col-2">
                <select class="custom-select custom-select-sm " name="type" >
                    <option th:selected="selected" disabled value="">Type</option>
                    <option th:each="type : ${T(com.oc.climbingtoo.enumeration.SiteType).values()}"
                            th:value="${type}"
                            th:text="${type}"></option>
                </select>
            </div>
            <div class="col-2 ">
                <select class="custom-select custom-select-sm " name="site" >
                    <option th:selected="selected" disabled value="">Site</option>
                    <option ></option>
                </select>
            </div>

            <div class="col-3">
                <button class="btn btn-dark " type="submit">Recherche avancée</button>
            </div>
        </div>

    </div>
</form>


</body>
</html>