<!DOCTYPE html>
<html lang="fr">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment-head :: head}">
</head>


<body>

<div th:insert="~{fragments/fragment-menu :: menu-navigation}"></div>

<h1 class=" col-md-7 offset-md-5 mt-3 mb-5">Se connecter</h1>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>


<form th:action="@{/login}" method="post" class="col-md-3">
    <div class="form-group">
        <label>Username :</label>
        <input type="text" class="form-control" name="username" placeholder="Enter username"/>
    </div>
    <div class="form-group">
        <label>Password :</label>
        <input type="password" class="form-control" name="password" placeholder="Password"/>
    </div>
    <button type="submit" class="btn btn-dark" value="Sign In">Sign in</button>
</form>

</body>

</html>